<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.12.1">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>Mule mavenjenkins Application</displayName>
  <version>1.0.0-SNAPSHOT</version>
  <packaging>mule</packaging>
  <relativePath></relativePath>
  <dependencies>
    <dependency>
      <groupId>org.mule.modules</groupId>
      <artifactId>mule-module-spring-config</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.transports</groupId>
      <artifactId>mule-transport-vm</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>com.mulesoft.muleesb</groupId>
      <artifactId>mule-core-ee</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>com.mulesoft.muleesb.modules</groupId>
      <artifactId>mule-module-spring-config-ee</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>com.mulesoft.muleesb.transports</groupId>
      <artifactId>mule-transport-jms-ee</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.tools.maven</groupId>
      <artifactId>mule-app-maven-plugin</artifactId>
      <version>1.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.mule.tests</groupId>
      <artifactId>mule-tests-functional</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>test</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>com.mulesoft.muleesb.transports</groupId>
      <artifactId>mule-transport-jdbc-ee</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.transports</groupId>
      <artifactId>mule-transport-http</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.modules</groupId>
      <artifactId>mule-module-scripting</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.modules</groupId>
      <artifactId>mule-module-http</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.transports</groupId>
      <artifactId>mule-transport-file</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.apache.maven.plugins</groupId>
      <artifactId>maven-assembly-plugin</artifactId>
      <version>2.2.1</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.codehaus.mojo</groupId>
      <artifactId>build-helper-maven-plugin</artifactId>
      <version>1.7</version>
      <plugin>true</plugin>
    </dependency>
    <dependency>
      <groupId>org.mule.modules</groupId>
      <artifactId>mule-module-xml</artifactId>
      <version>3.7.3</version>
      <plugin>false</plugin>
      <scope>provided</scope>
      <type>jar</type>
    </dependency>
    <dependency>
      <groupId>org.mule.tools.maven</groupId>
      <artifactId>mule-maven-plugin</artifactId>
      <version>2.0</version>
      <plugin>true</plugin>
    </dependency>
  </dependencies>
  <children/>
</maven2>